In [74]:
import os, glob
import pandas as pd

path = r'data/01_demultiplexed/'

all_files = glob.glob(os.path.join(path, "*/*.fastq.gz"))

all_data = pd.DataFrame([])

for path in all_files:
    file = path.replace(".R1.fastq.gz", "")
    file2 = file.replace(".R2.fastq.gz", "")
    entry = file2.replace("data/01_demultiplexed/", "")
    all_data = all_data.append(pd.DataFrame({'library':entry}, index=[0]), ignore_index=True)

    all_data[['Library','Sample']] = all_data.library.str.split("/",expand=True)

all_data = all_data.drop_duplicates()
del all_data["library"]

all_data.to_csv('output.tsv', header = False, index = False, sep = "\t")

    Library Sample
0        N1    101
2        N1    102
4        N1    103
6        N1    104
8        N1    105
10       N1    106
12       N1    107
14       N1    108
16       N1    109
18       N1    110
20       N1    1EB
22       N1    1FB
24       N1    1NE
26       N1    1PO
28       N1    201
30       N1    202
32       N1    203
34       N1    204
36       N1    205
38       N1    206
40       N1    207
42       N1    208
44       N1    209
46       N1    210
48       N2    2NE
50       N2    2PO
52       N2    301
54       N2    302
56       N2    303
58       N2    304
60       N2    305
62       N2    306
64       N2    307
66       N2    308
68       N2    309
70       N2    310
72       N2    3EB
74       N2    3FB
76       N2    401
78       N2    402
80       N2    403
82       N2    404
84       N2    405
86       N2    406
88       N2    407
90       N2    408
92       N2    409
94       N2    410
96    test2    208
98    test2    209
100   test2    210

In [88]:
libraries_df = pd.read_table('output.tsv', header = None)

LIBRARIES = list(libraries_df[0])
LIBRARIES = list(dict.fromkeys(LIBRARIES))

SAMPLES = list(libraries_df[1])
SAMPLES = list(dict.fromkeys(SAMPLES))